configure
autom4te.cache/
aclocal.m4
config.status
install-sh
missing
depcomp
config.log
INSTALL
Makefile
Makefile.in
.deps/
*.o
*.a
tools/bootmodem/bootmodem
config.h.in
config.h
stamp-h1
*.kate-swp
tools/extractfw/extractfw
